<!DOCTYPE html>
<html>
    <head>
        <title>0011011100001111</title>
    </head>
    <body>
        <h1>Some Guy you are</h1>
        <hr>
        <p>If you cannot find the answer thats okay. Maybe try to see things differently.</p>
        <p>Counting every bit or every pixel or every atom is what you might need.</p>
        <!--You will not find the answer here-->
        <form action="/" method="POST">
            <lable for="sec">Enter code-></lable>
            <input type="text" name="sec" id="sec">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>